<div class="menu-container">
        <div class="menu-item large">
            <a routerLink="/best-seller">
            <img src="assets/1.png" alt="Best Seller" class="menu-image">
            <h3>Best Seller</h3>
            </a>
        </div>
        <div class="menu-item side">
            <a routerLink="/croissant">
            <img src="assets/2.png" alt="Best Seller" class="menu-image">
            <h3>Croissant</h3>
            </a>
        </div>
        <div class="menu-item side">
            <a routerLink="/croffle">
            <img src="assets/3.png" alt="Best Seller" class="menu-image">
            <h3>Croffle</h3>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="/drinks">
            <img src="assets/4.png" alt="Best Seller" class="menu-image">
            <h3>Drinks</h3>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="/cake">
            <img src="assets/5.png" alt="Best Seller" class="menu-image">
            <h3>Cake</h3>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="/brownie">
            <img src="assets/6.png" alt="Best Seller" class="menu-image">
            <h3>Brownie</h3>
            </a>
        </div>
    </div>