<div class="menu-container">
        <div class="menu-item large">
            <img src="https://img.freepik.com/premium-photo/delicious-breakfast-with-croissants-coffee-berries-gray-background_79830-3174.jpg" alt="Best Seller" class="menu-image">
            <h3>Best Seller</h3>
        </div>
        <div class="menu-item side">
            <img src="https://static.amarintv.com/media/PJVlR0ljpN9mLUs8WKcdC8NHGcRAbvbit1RavjTZ6sWyEMGGrQTsQCzBT6cXc0HXsx.jpg" alt="Croissant" class="menu-image">
            <h3>Croissant</h3>
        </div>
        <div class="menu-item side">
            <img src="https://static.amarintv.com/media/PJVlR0ljpN9mLUs8Gu0YTabZlKHNsMv4SJAfRypbWB33cQQSwNmYtJasotO70ah2Pr.jpg" alt="Croffle" class="menu-image">
            <h3>Croffle</h3>
        </div>
        <div class="menu-item">
            <img src="https://www.nestleprofessional.co.th/sites/default/files/2022-04/03-nestle-fruit-time-lemonade-li.png" alt="Drinks" class="menu-image">
            <h3>Drinks</h3>
        </div>
        <div class="menu-item">
            <img src="https://img.wongnai.com/p/1920x0/2023/03/31/c64db67ec5554473815762fecadcbc15.jpg" alt="Cake" class="menu-image">
            <h3>Cake</h3>
        </div>
        <div class="menu-item">
            <img src="https://i.pinimg.com/736x/44/c5/e3/44c5e38fab6ee698ed4c7d93051babcb.jpg" alt="Brownie" class="menu-image">
            <h3>Brownie</h3>
        </div>
    </div>