<div class="about-container">
<div class="header">
        <h1>wholesale</h1>
        <h2>a journey </h2>
        <h2>and we're finally</h2>
</div>
    <div class="intro">
        <p>"Freshly Baked, Heartfully Made Every Morning"</p>
        <p>To us, bread is more than just food. It’s a quiet kind of joy — a simple comfort that begins with the first bite of your day.</p>
        <p>Every loaf from our oven is made with care and intention. We start with quality ingredients, let the dough rest and rise slowly, just the way it should, and bake each piece until the aroma fills the air and the crust turns perfectly golden.</p>
        <p>This isn’t just a bakery. It’s a warm little kitchen where you’re always welcome. A place where the bread is fresh and the smiles come naturally. From buttery croissants to soft, pillowy loaves and delicate homemade pastries, every item is a reflection of what we believe in.</p>
        <p>Simplicity, sincerity, and a little bit of love in every bite.</p>
    </div>
    <footer class="footer">
        <div class="contact-info">
            <p>Good.Day</p>
            <p>99/9 Chonburi, ASDSDE, DsfsfAsafskn, 241XX</p>
            <p>061-509XXXX</p>
            <p>Open All Day: 9AM - 6PM</p>
        </div>
        <div class="order-info">
            <h3>Order</h3>
            <p>Order Pickup</p>
            <p>Order Delivery</p>
        </div>
        <div class="contact">
            <h3>Contact</h3>
            <!-- <p>Line: @good.day</p> -->
            <!-- <p>Email: contact@goodday.com</p> -->
        </div>
        <div class="social">
            <h3>Social</h3>
            <p>Facebook</p>
            <p>Instagram</p>
        </div>
    </footer>
</div>
