<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/h1.png" class="d-block w-100" alt="cafe">
    </div>
    <div class="carousel-item">
      <img src="assets/h2.png" class="d-block w-100" alt="order">
    </div>
    <div class="carousel-item">
      <a routerLink="/menu">
      <img src="assets/h3.png" class="d-block w-100" alt="new">
    </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="menu-container">
        <div class="menu-item large">
            <a routerLink="/best-seller">
            <img src="https://img.freepik.com/premium-photo/delicious-breakfast-with-croissants-coffee-berries-gray-background_79830-3174.jpg" alt="Best Seller" class="menu-image">
            <h3>Best Seller</h3>
            </a>
        </div>
        <div class="menu-item side">
            <a routerLink="/croissant">
            <img src="https://static.amarintv.com/media/PJVlR0ljpN9mLUs8WKcdC8NHGcRAbvbit1RavjTZ6sWyEMGGrQTsQCzBT6cXc0HXsx.jpg" alt="Croissant" class="menu-image">
            <h3>Croissant</h3>
            </a>
        </div>
        <div class="menu-item side">
            <a routerLink="/croffle">
            <img src="https://static.amarintv.com/media/PJVlR0ljpN9mLUs8Gu0YTabZlKHNsMv4SJAfRypbWB33cQQSwNmYtJasotO70ah2Pr.jpg" alt="Croffle" class="menu-image">
            <h3>Croffle</h3>
            </a>
        </div>
        <div class="menu-item">
             <a routerLink="/drinks">
            <img src="assets/4.png" alt="Drinks" class="menu-image">
            <h3>Drinks</h3>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="/cake">
            <img src="assets/5.png" alt="Cake" class="menu-image">
            <h3>Cake</h3>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="/brownie">
            <img src="https://i.pinimg.com/736x/44/c5/e3/44c5e38fab6ee698ed4c7d93051babcb.jpg" alt="Brownie" class="menu-image">
            <h3>Brownie</h3>
            </a>
        </div>
    </div>