

    <section class="menu">
        <div class="menu-item">
            <img src="https://cdn.discordapp.com/attachments/1214599088448995330/1422299276670926879/image.png?ex=68dc2aec&is=68dad96c&hm=167964d6f0da41eb72b8f630b08597c0d6977e6873f5e16cfd8840bef9feadd6&" alt="Croissant">
            <div class="item-info">
                <h3>Croissant Plain</h3>
                <p>1/THB 89</p>
            </div>
        </div>
        <div class="menu-item">
            <img src="https://media.discordapp.net/attachments/1214599088448995330/1422300209072967680/image.png?ex=68dc2bca&is=68dada4a&hm=4fc4f7ba4ceb14e212a91b26872f7e1142e7ff698bcc9e29e3a9e1ced9abc20c&=&format=webp&quality=lossless" alt="Croffle">
            <div class="item-info">
                <h3>Croffle Almond</h3>
                <p>1/THB 110</p>
            </div>
        </div>
        <div class="menu-item">
            <img src="https://media.discordapp.net/attachments/1214599088448995330/1422300209425285220/image.png?ex=68dc2bca&is=68dada4a&hm=2bd36d6f4b3596641aa2796345f87dabeb49ac60a03c2d687c0e86ded15b630c&=&format=webp&quality=lossless" alt="Brownie">
            <div class="item-info">
                <h3>Brownie White Choc</h3>
                <p>1/THB 110</p>
            </div>
        </div>
        <div class="menu-item">
            <img src="https://media.discordapp.net/attachments/1214599088448995330/1422300209827811338/image.png?ex=68dc2bcb&is=68dada4b&hm=befbc528a7acffcb6ce5c62d8e5ec3f6a6a9d3b696102541c9828791a51d68fc&=&format=webp&quality=lossless" alt="Cake">
            <div class="item-info">
                <h3>Cake Burnt Cheese</h3>
                <p>1/THB 150</p>
            </div>
        </div>
        <div class="menu-item">
            <img src="https://media.discordapp.net/attachments/1214599088448995330/1422300210167681186/image.png?ex=68dc2bcb&is=68dada4b&hm=fc27e6cb50e8184643cad5bbff7ecc17df2809138475d464b5a37d1c14e62b7a&=&format=webp&quality=lossless" alt="Croissant Matcha">
            <div class="item-info">
                <h3>Croissant Matcha</h3>
                <p>1/THB 165</p>
            </div>
        </div>
        <div class="menu-item">
            <img src="https://media.discordapp.net/attachments/1214599088448995330/1422300210511609939/image.png?ex=68dc2bcb&is=68dada4b&hm=a8388bf27405424f12c46885382bee61262b7207dfb7724c32e8346f63d4354c&=&format=webp&quality=lossless" alt="Matcha Latte">
            <div class="item-info">
                <h3>Drinks Matcha Latte</h3>
                <p>1/THB 160</p>
            </div>
        </div>
    </section>
